# Computer Vision Libraries
opencv-python==4.5.5.62         # For image and video processing
mtcnn==0.1.0                    # For face detection
dlib==19.22.1                   # Optional for face detection or landmark detection

# Deep Learning Libraries
# tensorflow==2.8.0               # For deep learning models
# torch==1.11.0                   # PyTorch for facial recognition (can be replaced with TensorFlow if needed)
facenet-pytorch==2.5.2          # Pretrained FaceNet model for face recognition

# Data and Utility Libraries
numpy==1.22.0                   # For numerical operations
scikit-learn==1.0.2             # For data analysis and model evaluation
pandas==1.4.2                   # For data manipulation and attendance records

# Database Libraries
SQLAlchemy==1.4.36              # For database management