# Computer Vision Libraries
opencv-python                   # For image and video processing
mtcnn                           # For face detection
dlib                            # Optional for face detection or landmark detection

# Deep Learning Libraries
tensorflow                      # For deep learning models
torch                           # PyTorch for facial recognition (can be replaced with TensorFlow if needed)
facenet-pytorch                 # Pretrained FaceNet model for face recognition

# Data and Utility Libraries
numpy                           # For numerical operations
scikit-learn                    # For data analysis and model evaluation
pandas                          # For data manipulation and attendance records

# Database Libraries
SQLAlchemy                      # For database management

# Jupyter Notebook              # For interactive environment
jupyter-notebook